<h1 id="tableLabel">Tasks</h1>

<div class="row">
    <div class="table-responsive">
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="projectTasks">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Date Created</th>
                    <th>Estimate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectTask of projectTasks">
                    <td>{{ projectTask.projectTaskId }}</td>
                    <td>{{ projectTask.projectTaskName }}</td>
                    <td>{{ projectTask.projectTaskDesc }}</td>
                    <td>{{ projectTask.dateCreated }}</td>
                    <td>{{ projectTask.estimate }}</td>
                    <td><button (click)="edit(projectTask)"> Edit </button></td>
                    <td><button (click)="delete(projectTask.projectTaskId)"> Delete </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <form [formGroup]="projectTaskForm" (ngSubmit)="this[eventValue]()" *ngIf="projectId>0">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>Task Name</td>
                    <td>
                        <input type="hidden" formControlName="projectTaskId">
                        <input type="hidden" formControlName="projectId">

                        <input type="text" formControlName="projectTaskName">
                        <div *ngIf="submitted && projectTaskForm.controls.projectTaskName.errors" class="text-danger">
                            <div *ngIf="projectTaskForm.controls.projectTaskName.errors.required">Task name is required</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Task Description</td>
                    <td>
                        <input type="text" formControlName="projectTaskDesc">
                        <div *ngIf="submitted && projectTaskForm.controls.projectTaskDesc.errors" class="text-danger">
                            <div *ngIf="projectTaskForm.controls.projectTaskDesc.errors.required">Tas is required</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Estimate</td>
                    <td>
                        <input type="number" formControlName="estimate">
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">{{eventValueTitle}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>